<div class="row">
  <div class="col-md-6">
    <table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>名稱</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @store.id %></td>
      <td><%= @store.title %></td>
    </tr>
  </tbody>
</table>
  </div>
</div>


<a href="#" id="showDetail">點我點我</a>
